*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #434455;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.title, .titel-logo {
     color: #4D5AE5;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            text-decoration: none;
}

.title {
    padding-left: 156px;
}
.titel-logo {
    color: #2e2f42;
    padding-right: 76px;
}

.container-header{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.link-titel {
    display: inline-flex;
    gap: calc((100% - 120px) / 3) ;
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 24px;
}

.link-nav{
    color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;
}

.link-nav:hover, .link-nav:focus, .link-nav:active {
    color: #404BBF;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}


.address {
font-style: normal;
display: inline-flex;
gap: 40px;
}

.link-address {
    color: #434455;
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.link-address:hover, .link-address:focus, .link-address:active {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #404BBF;
}

.first-sector {
    background-color: #2e2f42;
}
.head {
    font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        color: #FFFFFF;
        text-align: center;
        width: 496px;
        margin-top: 188px;
}

.button {
font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    margin-top: 48px;
    margin-bottom: 188px;
}

.button:hover, .button:focus {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        background-color: #404BBF;
}

.text-work{
    font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.about-work {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-person{
    background-color: #F4F4FD
}

.team {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        justify-content: center;
        margin-top: 120px;
}

.link-name {
    background-color: #FFFFFF;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.link-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 120px;
    margin-top: 72px;
    width: 1440px
}

.name-person {
color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.job {
    color: #434455;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.section-portfolio{
    background-color: #fff;
}

.portfolio-our {
        color: #2e2f42;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-top: 120px;
        margin-bottom: 72px;
        display: flex;
        justify-content: center;
        
}

.link-portfolio{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 1440px;
    justify-content: center;
}

.portfolio-titel{
    color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.text-portfolio {
    color: #434455;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
     
        letter-spacing: 0.32px;
}

.footer{
background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        width: 264px;
        margin-bottom: 100px;
        margin-left: 156px;
        margin-top: 17.5px;
}

.titel-studio {
color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1440px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.container-first-sector {
    width: 1440px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text {
    display: flex;
    width: 1128px;
    flex-shrink: 0;
}

.item-text {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 120px;
    margin-bottom: 120px;
    gap: 24px;
}

.container-team {
    display: flex;
    flex-direction: column;
    width: 1440px;
}

.item-link {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.link-our {
    display: flex;
        width: 360px;
        height: 420px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
}

.container-portfolio {
    width: 1128px;
    flex-shrink: 0;
    margin-bottom: 120px;
}

.container a {
    margin-top: 101.5px;
}