body {
    background-color: #fff;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.title, .titel-logo {
     color: #4D5AE5;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            text-decoration: none;
}

.titel-logo {
    color: #2e2f42;
}

.studio, .portfolio, .contacts {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;
}

.studio:hover, .studio:active {
    color: #404BBF;
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.portfolio:hover, .contacts:hover {
    color: #404BBF;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.email, .telefon {
    color: #434455;
    font-family: "Roboto", sans-serif ;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;
}

.telefon:hover, .email:hover, .telefon:focus, .email:focus {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #404BBF;
}

.first-sector {
    background-color: #2e2f42;
}
h1 {
    font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        color: #FFFFFF;
        text-align: center
}

.button {
font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #FFFFFF;
        background-color: #4D5AE5;
        cursor: pointer
        
}

.button:hover, .button:focus {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
            background-color: #404BBF;
}

h2 {
font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
}

.titel-text{
    font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.titel-about {
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-person{
    background-color: #F4F4FD
}

.team {
    font-family: "Roboto", sans-serif;
    text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.link-team{
    background-color: #FFFFFF;
}

.name-person {
color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.work {
    color: #434455;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.section-portfolio{
    background-color: #F4F4FD;
}

.portfolio{
    color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.11;
        letter-spacing: 0.4px;
        text-align: center;
}
.link-portfolio{
    background-color: #FFFFFF;
}
.portfolio-titel{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.text-portfolio {
    color: #434455;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}